# CAO Notebook

## Overview

Reading in the 2019,2020,2021 cao files was done in three seperate notebooks  
readhtml,readexcel,readpdf  

combining the data is done in combineData notebook




These notebooks have been merged into this one

# Read HTML

http://www.cao.ie/index.php?page=points&p=2021

***

In [1]:
# Regular expressions.
import re

# Convenient HTTP requests.
import requests as rq

#Date time module in python for manipulating dates
import datetime as dt

In [2]:
# Fetch the CAO points URL.
resp = rq.get('http://www2.cao.ie/points/l8.php')


# Have a quick peek. 200 means OK.
resp

### Save a copy of the original htlm file and time stamp it
***

In [3]:
#Create a timestamp from the date and time
timeStamp = dt.datetime.now().strftime("%Y%m%d_%H%M%S")
#Create a path string
path = "data/"
#Create a filename string
filename = "Cao_2021_" + timeStamp + ".html"
print(path+filename)

data/Cao_2021_20211220_174101.html

In [4]:
#write the response text to the save file
with open(path+filename,"w", encoding='utf-8') as savefile:
    savefile.write(resp.text)


<br>

### Build and compile a regex search pattern to extract the lines I want
***

In [5]:
# Compile the regular expression for matching lines. Changed Ians original to a more suitable one for my purposes.
re_course = re.compile(r'([A-Z]{2}[0-9]{3})(\s{2})(.{50})(\s{3})(\#?[0-9]{3}?\*?)?(\s{5})?(\#?[0-9]{3}?\#?)?')

#### What the r flag mean for the regex compiler in python

Prefixing with an r merely indicates to the string that backslashes \ should be treated literally and not as escape characters for python.
https://stackoverflow.com/questions/21104476/what-does-the-r-in-pythons-re-compiler-pattern-flags-mean

<br>

#### Loop through the lines of the response

***

In [6]:
# Keep track of how many lines we process.
no_lines = 0

#Open a csv file and write the header to it (column names)
with open('data/cao-2021.csv','w', encoding='utf-8') as csvfile:
    header = 'Course,Desc,Round1,Round2' + "\n"
    csvfile.write(header)
    # loop through the lines in the response.
    for line in resp.iter_lines():
        # Match only the lines representing courses.
        res = re.match(re_course, line.decode('Windows-1252'))
        #check the groupings - comment out the 3 lines below if not using or uncomment to debug
        #if res != None:
            #print(len(res.groups())) 
            #print(res.groups())
        #result = re_course.match(line.decode('ISO-8859-1'))
        #print(result, re.match.group())
        if re_course.match(line.decode('Windows-1252')):
            # Add one to the lines counter.
            no_lines = no_lines + 1
            # Uncomment next line to see the original.
            #print(line)
            # Pick out the relevant parts of the matched line.
            csv_version = re_course.sub(r'\1,\3,\5,\7',line.decode('Windows-1252'))
            # Print the CSV-style line.
            #print(csv_version)
            #strip "*" & "#" from the numbers
            csv_version = re.sub('[*#]', '', csv_version)
            #print(csv_version)
            write_line = csv_version + "\n"
            #print(write_line)
            csvfile.write(write_line)

# Print the total number of processed lines.
print(f"Total number of lines is {no_lines}.")

Total number of lines is 949.

***

## End

# Download/Read an excel file from website

In [7]:
#Import the modules that we are going to use
import requests as rq
import pandas as pd

In [8]:
#Set up a variable for the url that contians the file
url = r"http://www2.cao.ie/points/CAOPointsCharts2020.xlsx"

In [9]:
#Pull the spreadsheet into a dataframe
df = pd.read_excel(url)
#Have a look
df.head(20)

,ADMISSION DATA 2020,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,End of Season,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Level 8, 7 & 6 with ISCED Broad Field Code",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,The details given are for general information...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Random * = Not all on this points score were o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,# = Test / Interview / Portfolio / Audition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AQA = All qualified applicants,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,avp = Available Places,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,v = New competition for available places resul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
10,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Education,Education & Design or Fine Art (Second Level T...,AD202,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Arts,Fine Art (portfolio),AD204,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Arts,Fashion Design (portfolio),AD211,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Arts,Product Design (portfolio),AD212,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Arts,Visual Culture,AD215,377,NaN,320,NaN,320,NaN,389,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
print(len(df))

1474

## Check out how to tidy this up to get only what I want out of the spreadsheet

In [11]:
#skip thje first 10 lines
df = pd.read_excel(url,skiprows=10)

In [12]:
df.head(10)

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Education,Education & Design or Fine Art (Second Level T...,AD202,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Arts,Fine Art (portfolio),AD204,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Arts,Fashion Design (portfolio),AD211,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Arts,Product Design (portfolio),AD212,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Arts,Visual Culture,AD215,377,NaN,320,NaN,320,NaN,389,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#drop columns that are not needed
df.dropna(axis=1, how='all', inplace=True)

In [14]:
df.head()

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,LEVEL,HEI,Test/Interview #,avp,v
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,8,American College,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,8,American College,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,8,National College of Art and Design,#,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,8,National College of Art and Design,#,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,8,National College of Art and Design,#,NaN,NaN

In [15]:
df.columns

Index(['CATEGORY (i.e.ISCED description)', 'COURSE TITLE', 'COURSE CODE2',
       'R1 POINTS', 'R1 Random *', 'R2 POINTS', 'R2 Random*', 'EOS',
       'EOS Random *', 'EOS Mid-point', 'LEVEL', 'HEI', 'Test/Interview #',
       'avp', 'v'],
      dtype='object')

In [16]:
df.drop(columns=['CATEGORY (i.e.ISCED description)','R1 Random *','R2 Random*','EOS','EOS Random *','EOS Mid-point','HEI','Test/Interview #','avp','v'],inplace=True)

In [17]:
#filter on level 8 courses.
df.loc[df['LEVEL']==8]

,COURSE TITLE,COURSE CODE2,R1 POINTS,R2 POINTS,LEVEL
0,International Business,AC120,209,NaN,8
1,Liberal Arts,AC137,252,NaN,8
2,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,8
3,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,8
4,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,8
...,...,...,...,...,...
1455,Arts (options),WD200,AQA,AQA,8
1460,Software Systems Development,WD210,279,NaN,8
1461,Creative Computing,WD211,271,NaN,8
1462,Recreation and Sport Management,WD212,270,NaN,8
1463,Mechanical and Manufacturing Engineering,WD230,253,NaN,8

In [18]:
df["R1 POINTS"].replace(regex='[*#]',value = "",inplace=True)
df["R1 POINTS"].replace(['+matric','AQA'],value = "",inplace=True)

In [19]:
#write dataframe out to csv file
df.to_csv('data/cao-2020.csv',sep=',',encoding='utf-8')

### Read in a pdf file using tabula read pdf
***

Link to the documentation
https://tabula-py.readthedocs.io/en/latest/

In [20]:
#set up the url where the pdf is held
url = "http://www2.cao.ie/points/lvl8_19.pdf"

In [21]:
import pandas as pd
from tabula import read_pdf

#read_pdf returns a list of dataframes
df = read_pdf(url,pages='all',pandas_options={"header": None})

In [22]:
#Had to install it - uncomment if needed - add this to requirements file
#%pip install tabula-py

In [23]:
#see how many pages were returned

len(df)

18

In [24]:
# read throught the returned pages and display the head of each page
for i in range(len(df)):
    print(df[i].head())

             0                                                  1    2    3
0  Course Code                             INSTITUTION and COURSE  EOS  Mid
1          NaN                    Athlone Institute of Technology  NaN  NaN
2        AL801    Software Design with Virtual Reality and Gaming  304  328
3        AL802               Software Design with Cloud Computing  301  306
4        AL803  Software Design with Mobile Apps and Connected...  309  337
       0                                                1    2      3
0  CW258                       Cybercrime and IT Security  300  328.0
1  CW268  Computing in Interactive Digital Art and Design  274  321.0
2  CW438                           Construction (options)  271  308.0
3  CW468                         Architectural Technology  252  290.0
4  CW478                                Civil Engineering  348  383.0
       0                               1    2      3
0  CR500      Engineering (Common Entry)  381  424.0
1  CR510  Sustainable Energy Engineering  319  343.0
2  CR520          Biomedical Engineering  434  477.0
3  CR560        Architectural Technology  288  332.0
4  CR565           Interior Architecture  336  390.0
       0                                          1    2      3
0  CK412                       Agricultural Science  457  509.0
1  CK502        Food Marketing and Entrepreneurship  433  456.0
2  CK504                       Nutritional Sciences  492  509.0
3  CK505                               Food Science  444  477.0
4  CK506  International Development and Food Policy  367  410.0
       0                                                  1     2      3
0  DB569                              Business (Psychology)   279  338.0
1    NaN                             Dublin City University   NaN    NaN
2  DC001              Education - Early Childhood Education   398  424.0
3  DC002                       Education - Primary Teaching  462*  485.0
4  DC003  Education - Primary Teaching - Gaeltacht Appli...  #433  473.0
       0                                            1    2      3
0  DC217              Intellectual Disability Nursing  347  362.0
1  DC218  Children`s and General Nursing (Integrated)  467  480.0
2  DC230                  Economics, Politics and Law  400  431.0
3  DC231                      International Relations  387  445.0
4  DC232                        Law and Society (BCL)  453  487.0
       0                                       1    2      3
0  DT407                           Culinary Arts  271  342.0
1  DT412                       Tourism Marketing  284  322.0
2  DT413                        Event Management  356  389.0
3  DT416               Culinary Entrepreneurship  275  339.0
4  DT420  Nutraceuticals in Health and Nutrition  392  432.0
       0                                              1    2      3
0  GC402                 Business Studies (HRM, Dublin)  217  290.0
1  GC403                                   Law (Dublin)  225  308.0
2  GC405  International Hospitality Management (Dublin)  254  272.0
3  GC407           Business Studies (Marketing, Dublin)  246  330.0
4  GC430                     Computing Science (Dublin)  217  269.0
       0                                                1       2       3
0  TA328  Computing with Language (French/German/Spanish)     218     317
1  TA329                    Computing with Data Analytics     218     296
2    NaN               National College of Art and Design     NaN     NaN
3  AD101           First Year Art & Design (Common Entry)  # +mat  ic 550
4  AD102           Graphic Design and Moving Image Design  # +mat  ic 635
       0                                                  1     2      3
0  TR039                      Computer Science and Language   435  498.0
1  TR040  Middle Eastern and European Languages and Cult...   485  518.0
2  TR041                                           Religion   347  393.0
3  TR051                           Medicine (HPAT required)  #730  739.0
4  TR052                                     Dental Science  590*  602.0
       0                                            1     2      3
0  DN440         Biomedical, Health and Life Sciences  565*  579.0
1  DN450                              General Nursing   398  420.0
2  DN451  Children`s and General Nursing (Integrated)  462*  499.0
3  DN452                                    Midwifery   409  452.0
4  DN453                        Mental Health Nursing   379  403.0
       0                                              1    2      3
0  GA384         Event Management with Public Relations  209  289.0
1  GA385                              Retail Management  219  319.0
2  GA480                        Construction Management  260  312.0
3  GA482  Quantity Surveying and Construction Economics  280  340.0
4  GA483                       Architectural Technology  251  321.0
       0                                                  1    2      3
0  GY129                               Arts (International)  408  477.0
1  GY130                                       Arts (Music)  400  444.0
2  GY131           Arts (History and Globalisation Studies)  340  431.0
3  GY132           Government (Politics, Economics and Law)  402  444.0
4  GY133  Education (Computer Science and Mathematical  ...  401  466.0
       0                                 1    2      3
0  LY608            Mechanical Engineering  304  333.0
1  LY618  Electronics and Embedded Systems  307  339.0
2  LY708                 Applied Computing  300  348.0
3  LY818            Science (Common Entry)  302  371.0
4  LY828        Agriculture (Common Entry)  300  342.0
       0                                             1    2      3
0  LC362  Biotechnology and Biopharmaceutical Sciences  379  402.0
1  LC371        Creative Broadcast and Film Production  298  339.0
2  LC372               Music Technology and Production  321  369.0
3  LC374   Renewable and Electrical Energy Engineering  317  368.0
4  LC375       Industrial Automation & Robotic Systems  321  368.0
       0                                                  1      2      3
0  LM122  Creative Media and Interaction Design (Digital...    330  430.0
1  LM123  Biological & Chemical Sciences (Biosci/Envir S...    412  455.0
2  LM124  Mathematics (Math Science/Maths and Physics/Ec...  e)427  521.0
3  LM125  Physics (Applied Physics/Mathematics and Physics)    405  509.0
4  LM150                                    General Nursing   440*  463.0
       0                                                  1    2      3
0    NaN                     Institute of Technology, Sligo  NaN    NaN
1  SG141                                           Business  252  317.0
2  SG142  Business in International Marketing and Sales ...  270  388.0
3  SG144  Business in International Marketing and Sales ...  280  388.0
4  SG146                                         Accounting  307  347.0
       0                                                  1     2      3
0  TL881                                        Social Care   308  356.0
1  TL889  Counselling with Addiction - Mature applicants...     #    NaN
2  TL890              General Nursing and Mature Applicants   407  431.0
3  TL891        Mental Health Nursing and Mature Applicants  367*  379.0
4    NaN                  Waterford Institute of Technology   NaN    NaN

Read_pdf brings in a list of dataframes - one per page/table of document

In [25]:
#access an individual page
page=df[0]

In [26]:
print(page)

              0                                                  1     2    3
0   Course Code                             INSTITUTION and COURSE   EOS  Mid
1           NaN                    Athlone Institute of Technology   NaN  NaN
2         AL801    Software Design with Virtual Reality and Gaming   304  328
3         AL802               Software Design with Cloud Computing   301  306
4         AL803  Software Design with Mobile Apps and Connected...   309  337
5         AL805        Network Management and Cloud Infrastructure   329  442
6         AL810                                 Quantity Surveying   307  349
7         AL820                 Mechanical and Polymer Engineering   300  358
8         AL830                                    General Nursing   410  429
9         AL832                                Psychiatric Nursing   387  403
10        AL836                       Nutrition and Health Science   352  383
11        AL837            Sports Science with Exercise Physiology   351  392
12        AL838                                      Biotechnology   302  372
13        AL839                                       Microbiology   322  371
14        AL840                            Pharmaceutical Sciences   328  411
15        AL841                Athletic and Rehabilitation Therapy   423  430
16        AL842                              Bioveterinary Science   310  366
17        AL843               Physical Activity and Health Science   310  330
18        AL850                                           Business   307  356
19        AL851                                   Business and Law   301  341
20        AL852               Accounting (with optional placement)   290  346
21        AL853                                 Accounting and Law   305  320
22        AL855  Hospitality Management (with International pla...   312  357
23        AL857                                  Digital Marketing   300  360
24        AL860                               Social Care Practice   309  338
25        AL861             Animation and Illustration (portfolio)  #615  899
26        AL863             Graphic and Digital Design (portfolio)  #703  898
27        AL864                     Early Years Care and Education   307  348
28        AL870                                 Applied Psychology   409  445
29          NaN                    Institute of Technology, Carlow   NaN  NaN
30        CW018                        Business (options, Wexford)   327  349
31        CW028       Early Childhood Education and Care (Wexford)   252  308
32        CW038                           Art (portfolio, Wexford)  #700  700
33        CW058             Tourism and Event Management (Wexford)   252  262
34        CW068  Applied Social Studies - Professional Social C...   251  280
35        CW078  Sustainable Farm Management and Agribusiness (...   266  320
36        CW088         Visual Communications and Design (Wexford)   309  345
37        CW108                                  Science (options)   261  326
38        CW128                             Brewing and Distilling   271  298
39        CW178                            Sport Science (options)   399  424
40        CW188          Sport Rehabilitation and Athletic Therapy   454  473
41        CW208                         Computer Games Development   281  338
42        CW238                               Software Development   300  343
43        CW248                  Information Technology Management   307  357

In [27]:
#todo - write out the original file as a copy, write the dataframe to a csv file for future use, check out df.concat

In [28]:
#loop through the pages and 
#drop any row that has Nan in the first column( column 0)
for i in range(len(df)):
    df[i].dropna(subset=[0],inplace=True)

In [29]:
#have a look at the first page index 0 again to see if the this worked as expected
#lines 1 and 29 should be gone these were the names of the institution
print(df[0])

              0                                                  1     2    3
0   Course Code                             INSTITUTION and COURSE   EOS  Mid
2         AL801    Software Design with Virtual Reality and Gaming   304  328
3         AL802               Software Design with Cloud Computing   301  306
4         AL803  Software Design with Mobile Apps and Connected...   309  337
5         AL805        Network Management and Cloud Infrastructure   329  442
6         AL810                                 Quantity Surveying   307  349
7         AL820                 Mechanical and Polymer Engineering   300  358
8         AL830                                    General Nursing   410  429
9         AL832                                Psychiatric Nursing   387  403
10        AL836                       Nutrition and Health Science   352  383
11        AL837            Sports Science with Exercise Physiology   351  392
12        AL838                                      Biotechnology   302  372
13        AL839                                       Microbiology   322  371
14        AL840                            Pharmaceutical Sciences   328  411
15        AL841                Athletic and Rehabilitation Therapy   423  430
16        AL842                              Bioveterinary Science   310  366
17        AL843               Physical Activity and Health Science   310  330
18        AL850                                           Business   307  356
19        AL851                                   Business and Law   301  341
20        AL852               Accounting (with optional placement)   290  346
21        AL853                                 Accounting and Law   305  320
22        AL855  Hospitality Management (with International pla...   312  357
23        AL857                                  Digital Marketing   300  360
24        AL860                               Social Care Practice   309  338
25        AL861             Animation and Illustration (portfolio)  #615  899
26        AL863             Graphic and Digital Design (portfolio)  #703  898
27        AL864                     Early Years Care and Education   307  348
28        AL870                                 Applied Psychology   409  445
30        CW018                        Business (options, Wexford)   327  349
31        CW028       Early Childhood Education and Care (Wexford)   252  308
32        CW038                           Art (portfolio, Wexford)  #700  700
33        CW058             Tourism and Event Management (Wexford)   252  262
34        CW068  Applied Social Studies - Professional Social C...   251  280
35        CW078  Sustainable Farm Management and Agribusiness (...   266  320
36        CW088         Visual Communications and Design (Wexford)   309  345
37        CW108                                  Science (options)   261  326
38        CW128                             Brewing and Distilling   271  298
39        CW178                            Sport Science (options)   399  424
40        CW188          Sport Rehabilitation and Athletic Therapy   454  473
41        CW208                         Computer Games Development   281  338
42        CW238                               Software Development   300  343
43        CW248                  Information Technology Management   307  357

In [30]:
#have a look at the last page 18 index 17
print(df[17])

        0                                                  1     2      3
0   TL881                                        Social Care   308  356.0
1   TL889  Counselling with Addiction - Mature applicants...     #    NaN
2   TL890              General Nursing and Mature Applicants   407  431.0
3   TL891        Mental Health Nursing and Mature Applicants  367*  379.0
5   WD001                        Applied Computing (options)   279  358.0
6   WD002                                  Science (options)   302  377.0
7   WD005                          Health Sciences (options)   288  347.0
8   WD006                        Exercise Sciences (options)   282  337.0
9   WD007                              Engineering (options)   287  382.0
10  WD025            Construction Management and Engineering   269  327.0
11  WD027                                              Music  #290  317.0
12  WD048                                 Business (options)   278  357.0
13  WD084                                         Accounting   307  403.0
14  WD091                             Hospitality Management   210  281.0
15  WD116                                    General Nursing   413  430.0
16  WD117                                Psychiatric Nursing   361  382.0
17  WD120                    Intellectual Disability Nursing   338  359.0
18  WD134                             International Business   289  350.0
19  WD137                     Design (Visual Communications)   253  373.0
20  WD140                                               Laws   290  352.0
21  WD144                                       Architecture   283  385.0
22  WD147                             Pharmaceutical Science   298  363.0
23  WD148                                  Tourism Marketing   269  338.0
24  WD149                            Early Childhood Studies   288  336.0
25  WD150                           Criminal Justice Studies   271  311.0
26  WD152                                         Visual Art   253  323.0
27  WD161                    Computer Forensics and Security   262  401.0
28  WD162                                 Quantity Surveying   260  320.0
29  WD163                                         Psychology   390  429.0
30  WD186                    Sports Coaching and Performance   276  327.0
31  WD187                                     Social Science   271  321.0
32  WD191                               Agricultural Science   378  421.0
33  WD192                               Social Care Practice   279  323.0
34  WD193                        Marketing and Digital Media   290  358.0
35  WD194                                      Culinary Arts   235  331.0
36  WD195  Architectural and Building Information Modelli...   266  305.0
37  WD200                                     Arts (options)   221  296.0
38  WD210                       Software Systems Development   271  329.0
39  WD211                                 Creative Computing   275  322.0
40  WD212                    Recreation and Sport Management   274  311.0
41  WD230           Mechanical and Manufacturing Engineering   273  348.0

In [31]:
#This is looking good now need to figure out how to merge it into one dataframe

In [32]:
#going to try using pandas concatenation function to join each frame into a new data frame
#need to drop column indexes from initial dataframes when creating this new df
#the returned df is already a list of dfs so we can do the following:
df2019 = pd.concat(df, ignore_index=True)

In [33]:
#check if above worked by getting the length of the new df
len(df2019)

931

In [34]:
#Looks ok - going to check head and tail and do some cross checking with original file
df2019.head()

             0                                                  1    2    3
0  Course Code                             INSTITUTION and COURSE  EOS  Mid
1        AL801    Software Design with Virtual Reality and Gaming  304  328
2        AL802               Software Design with Cloud Computing  301  306
3        AL803  Software Design with Mobile Apps and Connected...  309  337
4        AL805        Network Management and Cloud Infrastructure  329  442

In [35]:
df2019.tail()

         0                                         1    2      3
926  WD200                            Arts (options)  221  296.0
927  WD210              Software Systems Development  271  329.0
928  WD211                        Creative Computing  275  322.0
929  WD212           Recreation and Sport Management  274  311.0
930  WD230  Mechanical and Manufacturing Engineering  273  348.0

In [36]:
#have a look at the whole dataframe
df2019

,0,1,2,3
0,Course Code,INSTITUTION and COURSE,EOS,Mid
1,AL801,Software Design with Virtual Reality and Gaming,304,328
2,AL802,Software Design with Cloud Computing,301,306
3,AL803,Software Design with Mobile Apps and Connected...,309,337
4,AL805,Network Management and Cloud Infrastructure,329,442
...,...,...,...,...
926,WD200,Arts (options),221,296.0
927,WD210,Software Systems Development,271,329.0
928,WD211,Creative Computing,275,322.0
929,WD212,Recreation and Sport Management,274,311.0
930,WD230,Mechanical and Manufacturing Engineering,273,348.0

In [37]:
#ok need to drop column indexes from initial dataframes when creating this new df ( redo to demo ?  remove ignore_index from above if so)

In [38]:
df2019[2].replace(regex='[*#]',value = "",inplace=True)
df2019[2].replace(['+matric','AQA'],value = "",inplace=True)

In [39]:
#save the dataframe as a csv file to disk
df2019.to_csv('data/cao-2019.csv',sep=',',encoding='utf-8')

***
## End

## Combine data from CAO files

Other notebooks in this repo have imported the data from the CAO website and saved to csv files.

This notebook will use the csv files, tidy up the data and combine into a new dataframe.

***

In [40]:
#will be using pandas to read in the csv files and tidy up the data for a new combined dataframe
import pandas as pd

<br>  

**Bring in 2019 points**

In [41]:
#read in the 2019 csv file to a dataframe
df2019 = pd.read_csv("data/cao-2019.csv")

In [42]:
#Have a look at the top of the dataframe
df2019.head()

,Unnamed: 0,0,1,2,3
0,0,Course Code,INSTITUTION and COURSE,EOS,Mid
1,1,AL801,Software Design with Virtual Reality and Gaming,304,328
2,2,AL802,Software Design with Cloud Computing,301,306
3,3,AL803,Software Design with Mobile Apps and Connected...,309,337
4,4,AL805,Network Management and Cloud Infrastructure,329,442

In [43]:
#need to use row 0 as the header
df2019.columns = df2019.iloc[0]

In [44]:
#redo the dataframe without row 0 now that we have the columns
df2019 = df2019[1:]

In [45]:
#have a look
df2019.head()

0  0 Course Code                             INSTITUTION and COURSE  EOS  Mid
1  1       AL801    Software Design with Virtual Reality and Gaming  304  328
2  2       AL802               Software Design with Cloud Computing  301  306
3  3       AL803  Software Design with Mobile Apps and Connected...  309  337
4  4       AL805        Network Management and Cloud Infrastructure  329  442
5  5       AL810                                 Quantity Surveying  307  349

In [46]:
#look again
df2019.head()

0  0 Course Code                             INSTITUTION and COURSE  EOS  Mid
1  1       AL801    Software Design with Virtual Reality and Gaming  304  328
2  2       AL802               Software Design with Cloud Computing  301  306
3  3       AL803  Software Design with Mobile Apps and Connected...  309  337
4  4       AL805        Network Management and Cloud Infrastructure  329  442
5  5       AL810                                 Quantity Surveying  307  349

In [47]:
#count the number of courses
df2019.count()

0
0                         930
Course Code               930
INSTITUTION and COURSE    930
EOS                       915
Mid                       915
dtype: int64

In [48]:
#renaming columns for consistency with other years
df2019.columns=['Not Needed','Code','Course','Round1','Round2']

***

<br>  

**Bring in 2020 points**

In [49]:
#read in the 2020 csv file to a dataframe
df2020 = pd.read_csv("data/cao-2020.csv")

In [50]:
#Have a look at the top of the dataframe
df2020.head()

,Unnamed: 0,COURSE TITLE,COURSE CODE2,R1 POINTS,R2 POINTS,LEVEL
0,0,International Business,AC120,209.0,NaN,8
1,1,Liberal Arts,AC137,252.0,NaN,8
2,2,"First Year Art & Design (Common Entry,portfolio)",AD101,NaN,NaN,8
3,3,Graphic Design and Moving Image Design (portfo...,AD102,NaN,NaN,8
4,4,Textile & Surface Design and Jewellery & Objec...,AD103,NaN,NaN,8

In [51]:
#renaming columns for consistency with other years
df2020.columns=['Not needed','Course','Code','Round1','Round2','Level']

In [52]:
#filter on level 8 courses and remove
df2020 = df2020.loc[df2020['Level']==8]

In [53]:
#determine number of rows
df2020.count()

Not needed    1027
Course        1027
Code          1027
Round1         989
Round2         212
Level         1027
dtype: int64

In [54]:
#look again
df2020.head()

,Not needed,Course,Code,Round1,Round2,Level
0,0,International Business,AC120,209.0,NaN,8
1,1,Liberal Arts,AC137,252.0,NaN,8
2,2,"First Year Art & Design (Common Entry,portfolio)",AD101,NaN,NaN,8
3,3,Graphic Design and Moving Image Design (portfo...,AD102,NaN,NaN,8
4,4,Textile & Surface Design and Jewellery & Objec...,AD103,NaN,NaN,8

***

<br>  

**Bring in 2021 points**

In [55]:
#read in the 2021 csv file to a dataframe
df2021 = pd.read_csv("data/cao-2021.csv")

In [56]:
#Have a look at the top of the dataframe
df2021.head()

  Course                                               Desc  Round1 Round2
0  AL801  Software Design for Virtual Reality and Gaming...   300.0
1  AL802  Software Design in Artificial Intelligence for...   313.0
2  AL803  Software Design for Mobile Apps and Connected ...   350.0
3  AL805  Computer Engineering for Network Infrastructur...   321.0
4  AL810  Quantity Surveying                            ...   328.0

In [57]:
#renaming columns for consistency with other years
df2021.columns=['Code','Course','Round1','Round2']

In [58]:
df2021.head()

    Code                                             Course  Round1 Round2
0  AL801  Software Design for Virtual Reality and Gaming...   300.0
1  AL802  Software Design in Artificial Intelligence for...   313.0
2  AL803  Software Design for Mobile Apps and Connected ...   350.0
3  AL805  Computer Engineering for Network Infrastructur...   321.0
4  AL810  Quantity Surveying                            ...   328.0

In [59]:
df2021.count()

Code      949
Course    949
Round1    920
Round2    859
dtype: int64

***

In [60]:
#
df2019.loc[:,['Code','Course']]

      Code                                             Course
1    AL801    Software Design with Virtual Reality and Gaming
2    AL802               Software Design with Cloud Computing
3    AL803  Software Design with Mobile Apps and Connected...
4    AL805        Network Management and Cloud Infrastructure
5    AL810                                 Quantity Surveying
..     ...                                                ...
926  WD200                                     Arts (options)
927  WD210                       Software Systems Development
928  WD211                                 Creative Computing
929  WD212                    Recreation and Sport Management
930  WD230           Mechanical and Manufacturing Engineering

[930 rows x 2 columns]

In [61]:
#stack all the years into a new frame using only the code and the course
dfAllYears = pd.concat([df2019.loc[:,['Code','Course']],df2020.loc[:,['Code','Course']],df2021.loc[:,['Code','Course']]],ignore_index=True)

In [62]:
#This should equal the sum of the 3 dfs 
print((930 + 1027 + 949 ))
dfAllYears.count()

2906

Code      2906
Course    2906
dtype: int64

In [63]:
#have a look at the new datafram
dfAllYears.head()

    Code                                             Course
0  AL801    Software Design with Virtual Reality and Gaming
1  AL802               Software Design with Cloud Computing
2  AL803  Software Design with Mobile Apps and Connected...
3  AL805        Network Management and Cloud Infrastructure
4  AL810                                 Quantity Surveying

In [64]:
#sort the data fram by code to visualize duplicates
dfAllYears.sort_values(by=['Code'])

       Code                                             Course
168   AC120                             International Business
2132  AC120  International Business                        ...
930   AC120                             International Business
2133  AC137  Liberal Arts                                  ...
169   AC137                                       Liberal Arts
...     ...                                                ...
929   WD230           Mechanical and Manufacturing Engineering
1956  WD230           Mechanical and Manufacturing Engineering
2903  WD230  Mechanical and Manufacturing Engineering      ...
2904  WD231  Early Childhood Care and Education            ...
2905  WD232  Business Information Systems                  ...

[2906 rows x 2 columns]

In [65]:
#need to tidy up above as courses slightly out - one year has ... at end

In [66]:
#have a look for duplicates
dfAllYears.duplicated(subset=['Code'])

0       False
1       False
2       False
3       False
4       False
        ...
2901     True
2902     True
2903     True
2904    False
2905    False
Length: 2906, dtype: bool

In [67]:
#false is 0 and true is 1 therefore can sum the trues
dfAllYears.duplicated(subset=['Code']).sum()

1692

In [68]:
#drop the duplicates
dfAllYears.drop_duplicates(subset=['Code'],ignore_index=True,inplace=True)

In [69]:
dfAllYears.head()

    Code                                             Course
0  AL801    Software Design with Virtual Reality and Gaming
1  AL802               Software Design with Cloud Computing
2  AL803  Software Design with Mobile Apps and Connected...
3  AL805        Network Management and Cloud Infrastructure
4  AL810                                 Quantity Surveying

In [70]:
dfAllYears.count()

Code      1214
Course    1214
dtype: int64

In [71]:
dfAllYears

       Code                                             Course
0     AL801    Software Design with Virtual Reality and Gaming
1     AL802               Software Design with Cloud Computing
2     AL803  Software Design with Mobile Apps and Connected...
3     AL805        Network Management and Cloud Infrastructure
4     AL810                                 Quantity Surveying
...     ...                                                ...
1209  SG349  Electronics and Self Driving Technologies     ...
1210  SG350  Robotics and Automation                       ...
1211  TL874  Inclusive Sport and Physical Activity         ...
1212  WD231  Early Childhood Care and Education            ...
1213  WD232  Business Information Systems                  ...

[1214 rows x 2 columns]

***  
## to do
join points data from other years to his dataframe
***

In [72]:
#dfAllYears.set_index('Code').join(df2019.set_index('Code'))
dfAllYears = pd.merge(dfAllYears,df2019[['Code','Round1','Round2']], on='Code', how='left')

In [73]:
dfAllYears.head()

    Code                                             Course Round1 Round2
0  AL801    Software Design with Virtual Reality and Gaming    304    328
1  AL802               Software Design with Cloud Computing    301    306
2  AL803  Software Design with Mobile Apps and Connected...    309    337
3  AL805        Network Management and Cloud Infrastructure    329    442
4  AL810                                 Quantity Surveying    307    349

In [74]:
dfAllYears = pd.merge(dfAllYears,df2020[['Code','Round1','Round2']], on='Code', how='left')

In [75]:
#df2020[['Code','Round1','Round2']]

In [76]:
dfAllYears.head()

,Code,Course,Round1_x,Round2_x,Round1_y,Round2_y
0,AL801,Software Design with Virtual Reality and Gaming,304,328,303.0,NaN
1,AL802,Software Design with Cloud Computing,301,306,332.0,NaN
2,AL803,Software Design with Mobile Apps and Connected...,309,337,337.0,NaN
3,AL805,Network Management and Cloud Infrastructure,329,442,333.0,NaN
4,AL810,Quantity Surveying,307,349,319.0,NaN

In [77]:
dfAllYears = pd.merge(dfAllYears,df2021[['Code','Round1','Round2']], on='Code', how='left')

In [78]:
dfAllYears.head()

,Code,Course,Round1_x,Round2_x,Round1_y,Round2_y,Round1,Round2
0,AL801,Software Design with Virtual Reality and Gaming,304,328,303.0,NaN,300.0,
1,AL802,Software Design with Cloud Computing,301,306,332.0,NaN,313.0,
2,AL803,Software Design with Mobile Apps and Connected...,309,337,337.0,NaN,350.0,
3,AL805,Network Management and Cloud Infrastructure,329,442,333.0,NaN,321.0,
4,AL810,Quantity Surveying,307,349,319.0,NaN,328.0,

In [79]:
dfAllYears.rename(columns={"Round1_x":"2019_R1","Round2_x":"2019_R2","Round1_y":"2020_R1","Round2_y":"2020_R2","Round1":"2021_R1","Round2":"2021_R2"})

,Code,Course,2019_R1,2019_R2,2020_R1,2020_R2,2021_R1,2021_R2
0,AL801,Software Design with Virtual Reality and Gaming,304,328,303.0,NaN,300.0,
1,AL802,Software Design with Cloud Computing,301,306,332.0,NaN,313.0,
2,AL803,Software Design with Mobile Apps and Connected...,309,337,337.0,NaN,350.0,
3,AL805,Network Management and Cloud Infrastructure,329,442,333.0,NaN,321.0,
4,AL810,Quantity Surveying,307,349,319.0,NaN,328.0,
...,...,...,...,...,...,...,...,...
1209,SG349,Electronics and Self Driving Technologies ...,NaN,NaN,NaN,NaN,NaN,
1210,SG350,Robotics and Automation ...,NaN,NaN,NaN,NaN,384.0,
1211,TL874,Inclusive Sport and Physical Activity ...,NaN,NaN,NaN,NaN,341.0,
1212,WD231,Early Childhood Care and Education ...,NaN,NaN,NaN,NaN,266.0,
1213,WD232,Business Information Systems ...,NaN,NaN,NaN,NaN,261.0,261