# Download/Read an excel file from website

In [1]:
#Import the modules that we are going to use
import requests as rq
import pandas as pd

In [2]:
#Set up a variable for the url that contians the file
url = r"http://www2.cao.ie/points/CAOPointsCharts2020.xlsx"

In [3]:
#Pull the spreadsheet into a dataframe
df = pd.read_excel(url)
#Have a look
print(df)

                                    ADMISSION DATA 2020  \
0                                         End of Season
1            Level 8, 7 & 6 with ISCED Broad Field Code
2     The details  given are for general information...
3     Random * = Not all on this points score were o...
4           # = Test / Interview / Portfolio / Audition
...                                                 ...
1469                       Manufacturing and processing
1470  Information and Communication Technologies (ICTs)
1471  Information and Communication Technologies (ICTs)
1472                                  Personal services
1473                 Engineering and engineering trades

                                    Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0                                          NaN        NaN        NaN
1                                          NaN        NaN        NaN
2                                          NaN        NaN        NaN
3                                          NaN        NaN        NaN
4                                          NaN        NaN        NaN
...                                        ...        ...        ...
1469                 Manufacturing Engineering      WD208        188
1470              Software Systems Development      WD210        279
1471                        Creative Computing      WD211        271
1472           Recreation and Sport Management      WD212        270
1473  Mechanical and Manufacturing Engineering      WD230        253

     Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ...  \
0           NaN        NaN        NaN        NaN        NaN        NaN  ...
1           NaN        NaN        NaN        NaN        NaN        NaN  ...
2           NaN        NaN        NaN        NaN        NaN        NaN  ...
3           NaN        NaN        NaN        NaN        NaN        NaN  ...
4           NaN        NaN        NaN        NaN        NaN        NaN  ...
...         ...        ...        ...        ...        ...        ...  ...
1469        NaN        NaN        NaN        188        NaN        339  ...
1470        NaN        NaN        NaN        279        NaN        337  ...
1471        NaN        NaN        NaN        271        NaN        318  ...
1472        NaN        NaN        NaN        270        NaN        349  ...
1473        NaN        NaN        NaN        253        NaN        369  ...

     Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18  \
0            NaN         NaN         NaN         NaN         NaN         NaN
1            NaN         NaN         NaN         NaN         NaN         NaN
2            NaN         NaN         NaN         NaN         NaN         NaN
3            NaN         NaN         NaN         NaN         NaN         NaN
4            NaN         NaN         NaN         NaN         NaN         NaN
...          ...         ...         ...         ...         ...         ...
1469         NaN         NaN         NaN         NaN         NaN         NaN
1470         NaN         NaN         NaN         NaN         NaN         NaN
1471         NaN         NaN         NaN         NaN         NaN         NaN
1472         NaN         NaN         NaN         NaN         NaN         NaN
1473         NaN         NaN         NaN         NaN         NaN         NaN

     Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22
0            NaN         NaN         NaN         NaN
1            NaN         NaN         NaN         NaN
2            NaN         NaN         NaN         NaN
3            NaN         NaN         NaN         NaN
4            NaN         NaN         NaN         NaN
...          ...         ...         ...         ...
1469         NaN         NaN         NaN         NaN
1470         NaN         NaN         NaN         NaN
1471         NaN         NaN         NaN         NaN
1472         NaN         NaN         NaN         NaN
1473         NaN         NaN         NaN         NaN

[1474 rows x 23 columns]

In [4]:
print(len(df))

1474