# First NoteBook
***
This is an scrap notebook for trying things out in 
<br>  
remember to cut and paste from this once poc and test finished into project notebooks

In [1]:
#comment python code
i = 2
j = 3
k = i * j
print ("answer",k)

answer 6

## Trying out LaTex
***
Mathematical formula rendering
<br>  
link to cheat sheet https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference
<br> 
Enclose the formula in single dollar sign \\$.....\\$ for inline and double dollar signs \\$\\$.....\\$\\$ for below the line

### Inline
this is an inline example $\sqrt 2 = 1.414213562373095$

### Below Line
this is some text and the formula should be below this line $$\sqrt 2$$

### Sum
$\sum_1^n = {(n)(n-1)\over2}$

## markdown cell
***  
this is how to use a markdown cell

## trying out referencing
***
 
Testing out reference links [^1]  

[^1]: This is the reference
<br> 
The above works in the readme file but not here in jupyter - find out why

### Trying out pypdf2
***
Trying to read pdf file from cao but page extraction is restricted

In [2]:
import PyPDF2
pdfFileObj = open("lc19pts.pdf", "rb")
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)

In [3]:
pdfReader.numPages

1

In [4]:
pageObj = pdfReader.getPage(0)
pdftext = pageObj.extractText()
pdftext

'\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n'

In [ ]:
#ok not happy with this utility move on

### Trying out tabula read pdf
***

Link to the documentation
https://tabula-py.readthedocs.io/en/latest/

In [19]:
#set up the url where the pdf is held
url = "http://www2.cao.ie/points/lvl8_19.pdf"

In [20]:
import pandas as pd
from tabula import read_pdf

#read_pdf returns a list of dataframes
df = read_pdf(url,pages='all',pandas_options={"header": None})

In [7]:
#Had to install it - uncomment if needed - add this to requirements file
#%pip install tabula-py

In [21]:
#see how many pages were returned

len(df)

18

In [22]:
# read throught the returned pages and display the head of each page
for i in range(len(df)):
    print(df[i].head())

             0                                                  1    2    3
0  Course Code                             INSTITUTION and COURSE  EOS  Mid
1          NaN                    Athlone Institute of Technology  NaN  NaN
2        AL801    Software Design with Virtual Reality and Gaming  304  328
3        AL802               Software Design with Cloud Computing  301  306
4        AL803  Software Design with Mobile Apps and Connected...  309  337
       0                                                1    2      3
0  CW258                       Cybercrime and IT Security  300  328.0
1  CW268  Computing in Interactive Digital Art and Design  274  321.0
2  CW438                           Construction (options)  271  308.0
3  CW468                         Architectural Technology  252  290.0
4  CW478                                Civil Engineering  348  383.0
       0                               1    2      3
0  CR500      Engineering (Common Entry)  381  424.0
1  CR510  Sustainable Energy Engineering  319  343.0
2  CR520          Biomedical Engineering  434  477.0
3  CR560        Architectural Technology  288  332.0
4  CR565           Interior Architecture  336  390.0
       0                                          1    2      3
0  CK412                       Agricultural Science  457  509.0
1  CK502        Food Marketing and Entrepreneurship  433  456.0
2  CK504                       Nutritional Sciences  492  509.0
3  CK505                               Food Science  444  477.0
4  CK506  International Development and Food Policy  367  410.0
       0                                                  1     2      3
0  DB569                              Business (Psychology)   279  338.0
1    NaN                             Dublin City University   NaN    NaN
2  DC001              Education - Early Childhood Education   398  424.0
3  DC002                       Education - Primary Teaching  462*  485.0
4  DC003  Education - Primary Teaching - Gaeltacht Appli...  #433  473.0
       0                                            1    2      3
0  DC217              Intellectual Disability Nursing  347  362.0
1  DC218  Children`s and General Nursing (Integrated)  467  480.0
2  DC230                  Economics, Politics and Law  400  431.0
3  DC231                      International Relations  387  445.0
4  DC232                        Law and Society (BCL)  453  487.0
       0                                       1    2      3
0  DT407                           Culinary Arts  271  342.0
1  DT412                       Tourism Marketing  284  322.0
2  DT413                        Event Management  356  389.0
3  DT416               Culinary Entrepreneurship  275  339.0
4  DT420  Nutraceuticals in Health and Nutrition  392  432.0
       0                                              1    2      3
0  GC402                 Business Studies (HRM, Dublin)  217  290.0
1  GC403                                   Law (Dublin)  225  308.0
2  GC405  International Hospitality Management (Dublin)  254  272.0
3  GC407           Business Studies (Marketing, Dublin)  246  330.0
4  GC430                     Computing Science (Dublin)  217  269.0
       0                                                1       2       3
0  TA328  Computing with Language (French/German/Spanish)     218     317
1  TA329                    Computing with Data Analytics     218     296
2    NaN               National College of Art and Design     NaN     NaN
3  AD101           First Year Art & Design (Common Entry)  # +mat  ic 550
4  AD102           Graphic Design and Moving Image Design  # +mat  ic 635
       0                                                  1     2      3
0  TR039                      Computer Science and Language   435  498.0
1  TR040  Middle Eastern and European Languages and Cult...   485  518.0
2  TR041                                           Religion   347  393.0
3  TR051                           Medicine (HPAT required)  #730  739.0
4  TR052                                     Dental Science  590*  602.0
       0                                            1     2      3
0  DN440         Biomedical, Health and Life Sciences  565*  579.0
1  DN450                              General Nursing   398  420.0
2  DN451  Children`s and General Nursing (Integrated)  462*  499.0
3  DN452                                    Midwifery   409  452.0
4  DN453                        Mental Health Nursing   379  403.0
       0                                              1    2      3
0  GA384         Event Management with Public Relations  209  289.0
1  GA385                              Retail Management  219  319.0
2  GA480                        Construction Management  260  312.0
3  GA482  Quantity Surveying and Construction Economics  280  340.0
4  GA483                       Architectural Technology  251  321.0
       0                                                  1    2      3
0  GY129                               Arts (International)  408  477.0
1  GY130                                       Arts (Music)  400  444.0
2  GY131           Arts (History and Globalisation Studies)  340  431.0
3  GY132           Government (Politics, Economics and Law)  402  444.0
4  GY133  Education (Computer Science and Mathematical  ...  401  466.0
       0                                 1    2      3
0  LY608            Mechanical Engineering  304  333.0
1  LY618  Electronics and Embedded Systems  307  339.0
2  LY708                 Applied Computing  300  348.0
3  LY818            Science (Common Entry)  302  371.0
4  LY828        Agriculture (Common Entry)  300  342.0
       0                                             1    2      3
0  LC362  Biotechnology and Biopharmaceutical Sciences  379  402.0
1  LC371        Creative Broadcast and Film Production  298  339.0
2  LC372               Music Technology and Production  321  369.0
3  LC374   Renewable and Electrical Energy Engineering  317  368.0
4  LC375       Industrial Automation & Robotic Systems  321  368.0
       0                                                  1      2      3
0  LM122  Creative Media and Interaction Design (Digital...    330  430.0
1  LM123  Biological & Chemical Sciences (Biosci/Envir S...    412  455.0
2  LM124  Mathematics (Math Science/Maths and Physics/Ec...  e)427  521.0
3  LM125  Physics (Applied Physics/Mathematics and Physics)    405  509.0
4  LM150                                    General Nursing   440*  463.0
       0                                                  1    2      3
0    NaN                     Institute of Technology, Sligo  NaN    NaN
1  SG141                                           Business  252  317.0
2  SG142  Business in International Marketing and Sales ...  270  388.0
3  SG144  Business in International Marketing and Sales ...  280  388.0
4  SG146                                         Accounting  307  347.0
       0                                                  1     2      3
0  TL881                                        Social Care   308  356.0
1  TL889  Counselling with Addiction - Mature applicants...     #    NaN
2  TL890              General Nursing and Mature Applicants   407  431.0
3  TL891        Mental Health Nursing and Mature Applicants  367*  379.0
4    NaN                  Waterford Institute of Technology   NaN    NaN

Read_pdf brings in a list of dataframes - one per page/table of document

In [23]:
#access an individual page
page=df[0]

In [24]:
print(page)

              0                                                  1     2    3
0   Course Code                             INSTITUTION and COURSE   EOS  Mid
1           NaN                    Athlone Institute of Technology   NaN  NaN
2         AL801    Software Design with Virtual Reality and Gaming   304  328
3         AL802               Software Design with Cloud Computing   301  306
4         AL803  Software Design with Mobile Apps and Connected...   309  337
5         AL805        Network Management and Cloud Infrastructure   329  442
6         AL810                                 Quantity Surveying   307  349
7         AL820                 Mechanical and Polymer Engineering   300  358
8         AL830                                    General Nursing   410  429
9         AL832                                Psychiatric Nursing   387  403
10        AL836                       Nutrition and Health Science   352  383
11        AL837            Sports Science with Exercise Physiology   351  392
12        AL838                                      Biotechnology   302  372
13        AL839                                       Microbiology   322  371
14        AL840                            Pharmaceutical Sciences   328  411
15        AL841                Athletic and Rehabilitation Therapy   423  430
16        AL842                              Bioveterinary Science   310  366
17        AL843               Physical Activity and Health Science   310  330
18        AL850                                           Business   307  356
19        AL851                                   Business and Law   301  341
20        AL852               Accounting (with optional placement)   290  346
21        AL853                                 Accounting and Law   305  320
22        AL855  Hospitality Management (with International pla...   312  357
23        AL857                                  Digital Marketing   300  360
24        AL860                               Social Care Practice   309  338
25        AL861             Animation and Illustration (portfolio)  #615  899
26        AL863             Graphic and Digital Design (portfolio)  #703  898
27        AL864                     Early Years Care and Education   307  348
28        AL870                                 Applied Psychology   409  445
29          NaN                    Institute of Technology, Carlow   NaN  NaN
30        CW018                        Business (options, Wexford)   327  349
31        CW028       Early Childhood Education and Care (Wexford)   252  308
32        CW038                           Art (portfolio, Wexford)  #700  700
33        CW058             Tourism and Event Management (Wexford)   252  262
34        CW068  Applied Social Studies - Professional Social C...   251  280
35        CW078  Sustainable Farm Management and Agribusiness (...   266  320
36        CW088         Visual Communications and Design (Wexford)   309  345
37        CW108                                  Science (options)   261  326
38        CW128                             Brewing and Distilling   271  298
39        CW178                            Sport Science (options)   399  424
40        CW188          Sport Rehabilitation and Athletic Therapy   454  473
41        CW208                         Computer Games Development   281  338
42        CW238                               Software Development   300  343
43        CW248                  Information Technology Management   307  357

In [12]:
#todo - write out the original file as a copy, write the dataframe to a csv file for future use, check out df.concat

In [27]:
#loop through the pages and 
#drop any row that has Nan in the first column( column 0)
for i in range(len(df)):
    df[i].dropna(subset=[0],inplace=True)

In [28]:
#have a look at the first page index 0 again to see if the this worked as expected
#lines 1 and 29 should be gone these were the names of the institution
print(df[0])

              0                                                  1     2    3
0   Course Code                             INSTITUTION and COURSE   EOS  Mid
2         AL801    Software Design with Virtual Reality and Gaming   304  328
3         AL802               Software Design with Cloud Computing   301  306
4         AL803  Software Design with Mobile Apps and Connected...   309  337
5         AL805        Network Management and Cloud Infrastructure   329  442
6         AL810                                 Quantity Surveying   307  349
7         AL820                 Mechanical and Polymer Engineering   300  358
8         AL830                                    General Nursing   410  429
9         AL832                                Psychiatric Nursing   387  403
10        AL836                       Nutrition and Health Science   352  383
11        AL837            Sports Science with Exercise Physiology   351  392
12        AL838                                      Biotechnology   302  372
13        AL839                                       Microbiology   322  371
14        AL840                            Pharmaceutical Sciences   328  411
15        AL841                Athletic and Rehabilitation Therapy   423  430
16        AL842                              Bioveterinary Science   310  366
17        AL843               Physical Activity and Health Science   310  330
18        AL850                                           Business   307  356
19        AL851                                   Business and Law   301  341
20        AL852               Accounting (with optional placement)   290  346
21        AL853                                 Accounting and Law   305  320
22        AL855  Hospitality Management (with International pla...   312  357
23        AL857                                  Digital Marketing   300  360
24        AL860                               Social Care Practice   309  338
25        AL861             Animation and Illustration (portfolio)  #615  899
26        AL863             Graphic and Digital Design (portfolio)  #703  898
27        AL864                     Early Years Care and Education   307  348
28        AL870                                 Applied Psychology   409  445
30        CW018                        Business (options, Wexford)   327  349
31        CW028       Early Childhood Education and Care (Wexford)   252  308
32        CW038                           Art (portfolio, Wexford)  #700  700
33        CW058             Tourism and Event Management (Wexford)   252  262
34        CW068  Applied Social Studies - Professional Social C...   251  280
35        CW078  Sustainable Farm Management and Agribusiness (...   266  320
36        CW088         Visual Communications and Design (Wexford)   309  345
37        CW108                                  Science (options)   261  326
38        CW128                             Brewing and Distilling   271  298
39        CW178                            Sport Science (options)   399  424
40        CW188          Sport Rehabilitation and Athletic Therapy   454  473
41        CW208                         Computer Games Development   281  338
42        CW238                               Software Development   300  343
43        CW248                  Information Technology Management   307  357

In [29]:
#have a look at the last page 18 index 17
print(df[17])

        0                                                  1     2      3
0   TL881                                        Social Care   308  356.0
1   TL889  Counselling with Addiction - Mature applicants...     #    NaN
2   TL890              General Nursing and Mature Applicants   407  431.0
3   TL891        Mental Health Nursing and Mature Applicants  367*  379.0
5   WD001                        Applied Computing (options)   279  358.0
6   WD002                                  Science (options)   302  377.0
7   WD005                          Health Sciences (options)   288  347.0
8   WD006                        Exercise Sciences (options)   282  337.0
9   WD007                              Engineering (options)   287  382.0
10  WD025            Construction Management and Engineering   269  327.0
11  WD027                                              Music  #290  317.0
12  WD048                                 Business (options)   278  357.0
13  WD084                                         Accounting   307  403.0
14  WD091                             Hospitality Management   210  281.0
15  WD116                                    General Nursing   413  430.0
16  WD117                                Psychiatric Nursing   361  382.0
17  WD120                    Intellectual Disability Nursing   338  359.0
18  WD134                             International Business   289  350.0
19  WD137                     Design (Visual Communications)   253  373.0
20  WD140                                               Laws   290  352.0
21  WD144                                       Architecture   283  385.0
22  WD147                             Pharmaceutical Science   298  363.0
23  WD148                                  Tourism Marketing   269  338.0
24  WD149                            Early Childhood Studies   288  336.0
25  WD150                           Criminal Justice Studies   271  311.0
26  WD152                                         Visual Art   253  323.0
27  WD161                    Computer Forensics and Security   262  401.0
28  WD162                                 Quantity Surveying   260  320.0
29  WD163                                         Psychology   390  429.0
30  WD186                    Sports Coaching and Performance   276  327.0
31  WD187                                     Social Science   271  321.0
32  WD191                               Agricultural Science   378  421.0
33  WD192                               Social Care Practice   279  323.0
34  WD193                        Marketing and Digital Media   290  358.0
35  WD194                                      Culinary Arts   235  331.0
36  WD195  Architectural and Building Information Modelli...   266  305.0
37  WD200                                     Arts (options)   221  296.0
38  WD210                       Software Systems Development   271  329.0
39  WD211                                 Creative Computing   275  322.0
40  WD212                    Recreation and Sport Management   274  311.0
41  WD230           Mechanical and Manufacturing Engineering   273  348.0

In [ ]:
#This is looking good now need to figure out how to merge it into one dataframe

In [38]:
#going to try using pandas concatenation function to join each frame into a new data frame
#need to drop column indexes from initial dataframes when creating this new df
#the returned df is already a list of dfs so we can do the following:
df2019 = pd.concat(df, ignore_index=True)

In [39]:
#check if above worked by getting the length of the new df
len(df2019)

931

In [40]:
#Looks ok - going to check head and tail and do some cross checking with original file
df2019.head()

             0                                                  1    2    3
0  Course Code                             INSTITUTION and COURSE  EOS  Mid
1        AL801    Software Design with Virtual Reality and Gaming  304  328
2        AL802               Software Design with Cloud Computing  301  306
3        AL803  Software Design with Mobile Apps and Connected...  309  337
4        AL805        Network Management and Cloud Infrastructure  329  442

In [41]:
df2019.tail()

         0                                         1    2      3
926  WD200                            Arts (options)  221  296.0
927  WD210              Software Systems Development  271  329.0
928  WD211                        Creative Computing  275  322.0
929  WD212           Recreation and Sport Management  274  311.0
930  WD230  Mechanical and Manufacturing Engineering  273  348.0

In [42]:
#have a look at the whole dataframe
df2019

,0,1,2,3
0,Course Code,INSTITUTION and COURSE,EOS,Mid
1,AL801,Software Design with Virtual Reality and Gaming,304,328
2,AL802,Software Design with Cloud Computing,301,306
3,AL803,Software Design with Mobile Apps and Connected...,309,337
4,AL805,Network Management and Cloud Infrastructure,329,442
...,...,...,...,...
926,WD200,Arts (options),221,296.0
927,WD210,Software Systems Development,271,329.0
928,WD211,Creative Computing,275,322.0
929,WD212,Recreation and Sport Management,274,311.0
930,WD230,Mechanical and Manufacturing Engineering,273,348.0

In [ ]:
#ok need to drop column indexes from initial dataframes when creating this new df ( redo to demo ?  remove ignore_index from above if so)

In [43]:
#save the dataframe as a csv file to disk
df2019.to_csv('cao-points-main/data/cao-2019.csv',sep=',',encoding='utf-8')

***
## End